[Unit]
Description=Start Script
After=multi-user.target

[Service]
Type=idle
User=samuelg
WorkingDirectory=/home/samuelg/Desktop
ExecStart=/usr/bin/python3 /home/samuelg/Desktop/1st_mode.py

[Install]
WantedBy=multi-user.target
