[Unit]
Description=Start Script
After=multi-user.target

[Service]
Type=idle
User=root
WorkingDirectory=/root/Desktop
ExecStart=/usr/bin/python3 /root/Desktop/2do.py
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
